{
    "$schema": "https://json.schemastore.org/swcrc",
    "sourceMaps": false,
    "minify": false,
    "module": {
        "type": "commonjs"
    },
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "baseUrl": "./",
        "paths": {
            "@db/*": ["src/db/*"],
            "@lib/*": ["src/lib/*"]
        },
        "target": "esnext"
    }
}
